/.nova
/.vs
/.DS_Store
**/.nova
**/.vs
**/.DS_Store
media/*

#No Commit
secret.json
__pycache__
applications/*/migrations/*.py

#Exceptions
!applications/*/migrations/__init__.py
!media/default_pictures