{% extends 'base/menu.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/admin/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/admin/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/admin/typeahead/typeahead.jquery.min.js' %}"></script>
<script src="{% static 'js/admin/bootstrap-select/js/bootstrap-select.min.js' %}"> </script>
<script src="{% static 'js/admin/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/dropzone.min.js' %}"></script>
<script src="{% static 'js/utils/utils.js' %}"></script>
<script src="{% static 'js/productos/productos.js' %}"></script>
<script src="{% static 'swiper/js/swiper.min.js' %}"></script>
{% endblock scripts %}


{% block styles %}
<link href="https://kit-pro.fontawesome.com/releases/v5.15.3/css/pro.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/admin/bootstrap-select.min.css'%}">
<link rel="stylesheet" href="{% static 'css/admin/sweetalert2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/datatables/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/dropzone.min.css' %}">
<link rel="stylesheet" href="{% static 'css/utils/utils.css' %}">
<link rel="stylesheet" href="{% static 'css/productos/productos.css' %}">
<link rel="stylesheet" href="{% static 'js/admin/swiper/swiper.min.css' %}">
<style>
	.color-title, .topbar {
		background: linear-gradient(90deg, rgba(170, 145, 1, 0.8) 0%, rgb(75, 75, 75) 90%) !important; 
		border: none;
	}
</style>
{% endblock styles %}
	

{% block containtDisplay %}
	<div class="main-content">
		<div class="modal modal-fill fade" data-backdrop="false" id="more-Product" tabindex="-1" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Detalles</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">
							Cerrar
						</button>
						<button type="button" class="btn btn-bold btn-pure btn-primary">
							Guardar
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal modal-fill fade" data-backdrop="false" id="new-Product" tabindex="-1" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Nuevo Producto</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true" style="color: white;">×</span>
						</button>
					</div>
					<div class="modal-body form-type-material">
						<div id="new_First" style="max-height: 1000px;">
							<!-- <div class="form-group">
								<input id="new_Name" type="text" class="form-control">
								<label>Nombre</label>
							</div> -->
							<div class="row" style="justify-content: space-between; margin: 0;">
								<div class="form-group" style="width: 45%">
									<input id="new_Name" type="text" class="form-control">
									<label>Nombre</label>
								</div>
								<div class="form-group" style="width: 45%">
									<input id="new_Inventory" type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control">
									<label>En inventario</label>
								</div>
							</div>
							<div class="row" style="justify-content: space-between; margin: 0;">
								<div class="form-group" style="width: 45%">
									<input id="new_Presentation" type="text" class="form-control">
									<label>Presentación</label>
								</div>
								<div class="form-group" style="width: 45%">
									<input id="new_Price" type="number" min="0" inputmode="decimal" pattern="[0-9.]*" title="Non-negative integral number" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" class="form-control">
									<label>Precio</label>
								</div>
							</div>
							<div class="form-group">
								<textarea id="new_Description" class="form-control" rows="6"></textarea>
								<label>Descripción</label>
							</div>
							<div class="dropdown bootstrap-select form-control" style="margin-bottom: 20px">
								<select id="new_Brand"
								data-provide="selectpicker"
								datatabindex="-98"
								data-live-search="true"
								title="Selecciona la marca">
									{% for marca in object_list %}
									  {% if marca.name != null %}
									  <option value="{{ marca.id }}">{{ marca.name }}</option>
									  {% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="dropdown bootstrap-select form-control" style="margin-bottom: 20px">
								<select id="new_Category"
								data-provide="selectpicker"
								datatabindex="-98"
								data-live-search="true"
								title="Selecciona la categoría">
									{% for category in object_category %}
									  {% if category.name != null %}
									  <option value="{{ category.id }}">{{ category.name }}</option>
									  {% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="dropdown bootstrap-select form-control" style="margin-bottom: 20px">
								<select id="new_Subcategory"
								data-provide="selectpicker"
								datatabindex="-98"
								data-live-search="true"
								title="Selecciona la subcategoría">
								</select>
							</div>
							<div class="banner_switch">
								<h6 class="banner_switch_title">
									Tiene descuento
								</h6>
								<label class="switch switch-lg banner_switch_button">
									<input id="new_Discount" type="checkbox">
									<span class="switch-indicator"></span>
								</label>
							</div>
							<div class="form-group showPorcentage" style="transition: all .5s; margin-top: 15px;">
								<input id="new_Porcentage" type="numbre" type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control">
								<label>Porcentaje</label>
							</div>
							<div class="banner_switch">
								<h6 class="banner_switch_title">
									Tiene promoción
								</h6>
								<label class="switch switch-lg banner_switch_button">
									<input id="new_Promotion" type="checkbox">
									<span class="switch-indicator"></span>
								</label>
							</div>
							<div class="banner_switch">
								<h6 class="banner_switch_title">
									Compra por puntos
								</h6>
								<label class="switch switch-lg banner_switch_button">
									<input id="new_Points" type="checkbox">
									<span class="switch-indicator"></span>
								</label>
							</div>
							<div class="banner_switch">
								<h6 class="banner_switch_title">
									Disponible para venta
								</h6>
								<label class="switch switch-lg banner_switch_button">
									<input id="new_Status" type="checkbox">
									<span class="switch-indicator"></span>
								</label>
							</div>
						</div>
						<div id="new_Second" style="display: none; max-height: 0; opacity: 0;">
							<div class="col-lg-12" style="background-color: #000000; padding: 10px 0; margin: 10px 0">
								<h4 style="color: #ffffff; text-align: center; margin-bottom: 0">
									Foto de portada
								</h4>
							</div>
							<input type="file" class="dropify" data-provide="dropify" id="new_coverPhoto" data-allowed-file-extensions="png jpg jpeg"/>
							<div class="col-lg-12" style="background-color: #000000; padding: 10px 0; margin: 10px 0">
								<h4 style="color: #ffffff; text-align: center; margin-bottom: 0">
									Fotos de gallería
								</h4>
							</div>
							<div id="newDropzone"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="new_Save" type="button" class="btn btn-bold btn-pure btn-primary" style="display: none; opacity: 0; float: right;">
							Terminar
						</button>
						<button id="new_Next" type="button" class="btn btn-bold btn-pure btn-primary" style="float: right;">
							Siguiente
						</button>
						<button id="new_Back" type="button" class="btn btn-bold btn-pure btn-primary" style="display: none; opacity: 0; float: right;">
							Atras
						</button>
						<button id="new_Cancel_Left" type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal" style="display: none; opacity: 0;">
							Cerrar
						</button>
						<button id="new_Cancel" type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal" style="float: right;">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="modal modal-fill fade" data-backdrop="false" id="edit-Product" tabindex="-1" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Editar Producto</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true" style="color: white;">×</span>
						</button>
					</div>
					<div class="modal-body form-type-material">
						<div id="edit_First" style="max-height: 1000px;">
							<!-- <div class="form-group">
								<input id="new_Name" type="text" class="form-control">
								<label>Nombre</label>
							</div> -->
							<div class="row" style="justify-content: space-between; margin: 0;">
								<div class="form-group" style="width: 45%">
									<input id="edit_Name" type="text" class="form-control">
									<label>Nombre</label>
								</div>
								<div class="form-group" style="width: 45%">
									<input id="edit_Inventory" type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control">
									<label>En inventario</label>
								</div>
							</div>
							<div class="row" style="justify-content: space-between; margin: 0;">
								<div class="form-group" style="width: 45%">
									<input id="edit_Presentation" type="text" class="form-control">
									<label>Presentación</label>
								</div>
								<div class="form-group" style="width: 45%">
									<input id="edit_Price" type="number" min="0" inputmode="decimal" pattern="[0-9.]*" title="Non-negative integral number" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" class="form-control">
									<label>Precio</label>
								</div>
							</div>
							<div class="form-group">
								<textarea id="edit_Description" class="form-control" rows="6"></textarea>
								<label>Descripción</label>
							</div>
							<div class="dropdown bootstrap-select form-control" style="margin-bottom: 20px">
								<select id="edit_Brand"
								data-provide="selectpicker"
								datatabindex="-98"
								data-live-search="true"
								title="Selecciona la marca">
									{% for marca in object_list %}
									  {% if marca.name != null %}
									  <option value="{{ marca.id }}">{{ marca.name }}</option>
									  {% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="dropdown bootstrap-select form-control" style="margin-bottom: 20px">
								<select id="edit_Category"
								data-provide="selectpicker"
								datatabindex="-98"
								data-live-search="true"
								title="Selecciona la categoría">
									{% for category in object_category %}
									  {% if category.name != null %}
									  <option value="{{ category.id }}">{{ category.name }}</option>
									  {% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="dropdown bootstrap-select form-control" style="margin-bottom: 20px">
								<select id="edit_Subcategory"
								data-provide="selectpicker"
								datatabindex="-98"
								data-live-search="true"
								title="Selecciona la subcategoría">
								</select>
							</div>
							<div class="banner_switch">
								<h6 class="banner_switch_title">
									Tiene descuento
								</h6>
								<label class="switch switch-lg banner_switch_button">
									<input id="edit_Discount" type="checkbox">
									<span class="switch-indicator"></span>
								</label>
							</div>
							<div class="form-group showPorcentage" style="transition: all .5s; margin-top: 15px;">
								<input id="edit_Porcentage" type="numbre" type="number" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control">
								<label>Porcentaje</label>
							</div>
							<div class="banner_switch">
								<h6 class="banner_switch_title">
									Tiene promoción
								</h6>
								<label class="switch switch-lg banner_switch_button">
									<input id="edit_Promotion" type="checkbox">
									<span class="switch-indicator"></span>
								</label>
							</div>
							<div class="banner_switch">
								<h6 class="banner_switch_title">
									Compra por puntos
								</h6>
								<label class="switch switch-lg banner_switch_button">
									<input id="edit_Points" type="checkbox">
									<span class="switch-indicator"></span>
								</label>
							</div>
							<div class="banner_switch">
								<h6 class="banner_switch_title">
									Disponible para venta
								</h6>
								<label class="switch switch-lg banner_switch_button">
									<input id="edit_Status" type="checkbox">
									<span class="switch-indicator"></span>
								</label>
							</div>
						</div>
						<div id="edit_Second" style="display: none; max-height: 0; opacity: 0;">
							<div class="col-lg-12" style="background-color: #000000; padding: 10px 0; margin: 10px 0">
								<h4 style="color: #ffffff; text-align: center; margin-bottom: 0">
									Foto de portada
								</h4>
							</div>
							<input type="file" id="edit_coverPhoto" data-allowed-file-extensions="png jpg jpeg"/>
							<div class="col-lg-12" style="background-color: #000000; padding: 10px 0; margin: 10px 0">
								<h4 style="color: #ffffff; text-align: center; margin-bottom: 0">
									Fotos de gallería
								</h4>
							</div>
							<div id="editDropzone"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="edit_Save" type="button" class="btn btn-bold btn-pure btn-primary" style="display: none; opacity: 0; float: right;">
							Terminar
						</button>
						<button id="edit_Next" type="button" class="btn btn-bold btn-pure btn-primary" style="float: right;">
							Siguiente
						</button>
						<button id="edit_Back" type="button" class="btn btn-bold btn-pure btn-primary" style="display: none; opacity: 0; float: right;">
							Atras
						</button>
						<button id="edit_Cancel_Left" type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal" style="display: none; opacity: 0;">
							Cerrar
						</button>
						<button id="edit_Cancel" type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal" style="float: right;">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="card color-title" style="flex-direction: row; height: 55px; justify-content: space-between;">
			<h4 class="card-title">
				Productos
			</h4>
			<div id="newProduct" class="addProduct" data-toggle="modal" data-target="#new-Product">
				<h6 style="color: #c48b11; margin: 0;">
					Añade un producto
				</h6>
			</div>
		</div>
		
		<div class="card color-title" style="flex-direction: row; height: 55px; overflow: scroll;">
			<h4 id="filter" class="card-title" style="margin-right: auto;" data="Precio">
				Filtro
			</h4>
			<input id="minFilter" class="filter_product" type="number" placeholder="Precio min..." pattern="[0-9]+"/>
			<input id="maxFilter" class="filter_product" type type="number" placeholder="Precio max..." pattern="[0-9]+"/>
			<div id="filterBn" class="addProduct">
				<h6 style="color: #c48b11; margin: 0;">
					Aplicar
				</h6>
			</div>
		</div>
		
		<div class="card" style="flex-direction: row; height: 55px; justify-content: space-between; background: rgba(170, 145, 1, 0.8);">
			<div id="priceFilter" class="addProduct changeViewButton active" data="Precio">
				<h6 style="color: #c48b11; margin: 0;">Precio</h6>
			</div>
			<div id="inventaryFilter" class="addProduct changeViewButton" data="Inventario">
				<h6 style="color: #c48b11; margin: 0;">Inventario</h6>
			</div>
		</div>
		
		<div class="card">
			  <div class="card-body">
				<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
				  <thead>
					<tr>
					  <th>SKU</th>
					  <th>Nombre</th>
					  <th>Marca</th>
					  <th>Precio</th>
					  <th>Estatus</th>
					  <th>Inventario</th>
					  <th>Acciones</th>
					</tr>
				  </thead>
				  <tfoot>
					<tr>
						<th>SKU</th>
						<th>Nombre</th>
						<th>Marca</th>
						<th>Precio</th>
						<th>Estatus</th>
						<th>Inventario</th>
						<th>Acciones</th>
					</tr>
				  </tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock containtDisplay %}