{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/extras.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/admin/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/core.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropify.min.css' %}">

    {% csrf_token %}
    {% block styles %}
    {% endblock %}

    <style>
        .menu .menu-item a{
            text-decoration: none;
        }
    </style>

    <title>Persianas</title>
</head>
<body class="sidebar-folded">
    <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
        <nav class="sidebar-navigation ps-container ps-theme-default ps-active-y">
            <div class="sidebar-profile">
                <div class="dropdown">
                  <span class="no-caret">
                      <img  class="avatar" 
                            src="https://pbs.twimg.com/media/EFqgtv1X0AEkjsR.jpg"
                            alt="...">
                  </span>
                </div>
      
                <div class="profile-info">
                  <h4 class="mb-0">{{user.username}}</h4>
                </div>
              </div>
            <ul class="menu">
                <li class="menu-category">Usuarios y Administradores</li>
                <li class="menu-item">
                    <a href="/administradores" class="menu-link">
                        <span class="title">Administradores</span>
                        <span class="icon ti-user"></span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/clientes" class="menu-link">
                        <span class="title">Clientes</span>
                        <span class="icon ti-id-badge"></span>
                    </a>
                </li>
                <li class="menu-category">Productos</li>
                <li class="menu-item">
                    <a href="/productos" class="menu-link">
                        <span class="title">Productos</span>
                        <span class="icon ti-bag"></span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/marcas" class="menu-link">
                        <span class="title">Marcas</span>
                        <span class="icon ti-package"></span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/categorias" class="menu-link">
                        <span class="title">Categorias</span>
                        <span class="icon ti-package"></span>
                    </a>
                </li>
                <li class="menu-category">Ventas</li>
                <li class="menu-item">
                    <a href="/pedidos" class="menu-link">
                        <span class="title">Pedidos</span>
                        <span class="icon ti-shopping-cart"></span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/cancelaciones" class="menu-link">
                        <span class="title">Cancelaciones</span>
                        <span class="icon ti-pencil-alt"></span>
                    </a>
                </li>
                <li class="menu-category">Sesión</li>
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <span class="title">Cerrar Sesión</span>
                        <span class="icon ti-power-off"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <header class="topbar" style="background-color: #c48b11">
        <div class="topbar-left">
            <div class="topbar-btn sidebar-toggler">
                <i style="color:white;">☰</i>
            </div>
        </div>
        <div class="topbar-right">

        </div>
    </header>
    <main class="main-container">
        
        {% block containtDisplay %}
            
        {% endblock containtDisplay %}
            
    </main>
</body>
</html>

<script src="{% static 'js/admin/core.min.js' %}"></script>
<script src="{% static 'js/admin/app.min.js' %}"></script>
{% block scripts %}
{% endblock %}
    